*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

build/
abc/
bin/
docs/
BACS/
benchmarks/
benchmarks/.venv/
benchmarks/patterns/*.axpi
evoapproxlib/

benchmarks/results/**/*
!benchmarks/results/README.md
docs/TODO.md
docs/GPU_SKELETON.md
