*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin
__pycache__/

build/
abc/
bin/
docs/
benchmarks/
benchmarks/.venv/
benchmarks/patterns/*.axpi
evoapproxlib/

benchmarks/results/**/*
!benchmarks/results/README.md
docs/TODO.md
docs/GPU_SKELETON.md
